extends layout

block body
	include includes/big-header
	include includes/double-skew-panel
	include includes/case-studies
	include includes/twitter
	include includes/locations
	include includes/reviews

block scripts
	script(src="assets/js/Chart.min.js")
	script(src="assets/js/index-page.js")