extends layout

block body
	.header-container.clearfix
		include includes/main-header

	include includes/call-bar
	include includes/breadcrumbs
	include includes/service-content
	include includes/tabs
	include includes/process
	include includes/contact-bar
	include includes/reviews
	include includes/partners
