/* Services */
.services {
  	margin:90px 0 50px;
	@include display-flex;
	@include flex-direction(row);
	@include justify-content(space-between);
}

.service {
	width:30%;
	text-align:center;
	@include display-flex;
	@include flex-direction(column);
	@include align-items(center);

	.fa {
		font-size:100px;
		color:#d5d9e2;
	}

	h2 {
		color:#151c2b;
		font-size:24px;
		font-weight:300;
		margin:25px 0;
	}

	.fa, h2 {
		@include single-transition(all, .3s, ease-in-out);
	}

	p {
		color:#5b667d;
	 	line-height:1.7;
	 	font-size:15px;
	 	font-weight:300;
	}

	.btn-small {
		order:2;
		margin:25px 0;
	}

  	.btn-small:hover ~ .fa,
  	.btn-small:hover ~ h2 {
		color:$primaryColor;
	}
}

@media (max-width:800px) {
  	.services {
	  	margin:30px 0;
	  	@include flex-direction(column);
  	}

  	.service {
		width:100%;
		margin:15px 0;
  	}
}

