.header-container.big-header
	.big-header-wrapper
		include main-header
		.center.clearfix
			.header-hero
				h2.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="1s") Increase Your Sales <em>Trust Vilio!</em>
				p.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="1.5s").
					Vilio specialise in offering completely <strong>original and tailored designs</strong> for each client project.
					We work with you to create a bespoke design for your website so it stands out from the crowd and matches the needs and identity of your brand.

				a(href="#").btn-large.btn-fill.btn-hover-outline-primary.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="2s") Let's chat
				a(href="#").btn-large.btn-outline-white.btn-hover-outline-primary.wow.fadeInDown(data-wow-duration="1s" data-wow-delay="2.5s") Our services

	.header-chart: canvas

.skew-section-container.clearfix
	.skew-section.center
		.skew-section-content.clearfix
			include partners
			include services