.contact-bar.clearfix
	.center
		p Are you looking for a proper digital agency to <b>help you increase your sales?</b>
		a(href="#").btn-medium.btn-outline-white.btn-hover-fill Case studies
		a(href="#").btn-medium.btn-fill.btn-hover-outline-white Contact us