.contact-bar.clearfix
	.center
		p.wow.fadeInUp(data-wow-duration="1s") Are you looking for a proper digital agency to <b>help you increase your sales?</b>
		a(href="#").btn-medium.btn-outline-white.btn-hover-fill.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.75s") Case studies
		a(href="#").btn-medium.btn-fill.btn-hover-outline-white.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s") Contact us