section.double-skew-panel
	.double-skew-content.center
		.panel.about-us
			h2.heading.wow.fadeInDown(data-wow-duration="1s") About us
			p.wow.fadeInUp(data-wow-duration="1s"): span.
				We will help you develop your ideas into concepts and
				faciliate the process with dedicated account management
				to execution and beyond.
			p.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s").
				Our strength is combining creative force with executive ability.
				We provide new opportunities, implement innovative visions and facilitate business processes.
				We value the creation of long-term customer relations. Your success is our success.

			a(href="#").btn-medium.btn-outline.btn-hover-fill.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.75s") Meet the team
			a(href="#").btn-medium.btn-outline.btn-hover-fill.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.85s") Contact us

		.panel.our-story
			h2.heading.wow.fadeInDown(data-wow-duration="1s") Our story
			.video-player.wow.fadeInUp(data-wow-duration="1s")
				iframe(src="//player.vimeo.com/video/101231747?color=1ab282" frameborder="0" webkitallowfullscreen=true mozallowfullscreen=true allowfullscreen=true)