footer.main-footer
	.center
		.panel.sitemap-panel
			h2 Sitemap
			ul.links-list
				li: a(href="#") Home
				li: a(href="#") About
				li: a(href="#") Services
				li: a(href="#") Case studies
				li: a(href="#") Careers
				li: a(href="#") Contact us

		.panel.socialmedia-panel
			h2 Follow us
			include socialmedia
			ul.links-list
				li: a(href="#").bull Domon's GitHub

		.panel.photos-panel
			h2 Instagram
			ul.photos-thumbs
				li: a(href="#"): img(src="//placeimg.com/60/60" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/any" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/animals" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/architecture" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/nature" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/people" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/any/sepia" alt="")
				li: a(href="#"): img(src="//placeimg.com/60/60/any/grayscale" alt="")

		.panel.careers-panel
			h2 Careers
			ul.careers-list
				li.secondary: a(href="#")
					span New
					h3 New York
					i.fa.fa-plus
				li: a(href="#")
					span 12
					h3 London
					i.fa.fa-plus
				li: a(href="#")
					span 5
					h3 San Francisco
					i.fa.fa-plus
