mixin location_item(slug, city)
	.location(class=slug).wow.fadeIn(data-wow-duration="1s")
		.location-img
		.location-cnt
			img(src="assets/images/logo.png" alt="Vilio Theme")
			h2= city
			a(href="#").btn-small.btn-outline-white.btn-hover-fill Contact us


section.locations-section.clearfix
	+location_item('new-york', 'New York')
	+location_item('los-angeles', 'Los Angeles')

	.cta-bar.wow.fadeIn(data-wow-duration="1s")
		i.fa.fa-commenting-o
		span Would you like to join us? <a href="#" class="underline">Let's chat about you!</a>

	.instagram-tiles
		a.wow.fadeIn(href="#" data-wow-duration="1s" data-wow-delay="0s"): img(src="//placeimg.com/150/150" alt="")
		a.wow.fadeIn(href="#" data-wow-duration="1s" data-wow-delay="0.1s"): img(src="//placeimg.com/150/150/any" alt="")
		a.wow.fadeIn(href="#" data-wow-duration="1s" data-wow-delay="0.3s"): img(src="//placeimg.com/150/150/animals" alt="")
		a.wow.fadeIn(href="#" data-wow-duration="1s" data-wow-delay="0.2s"): img(src="//placeimg.com/150/150/architecture" alt="")
		a.wow.fadeIn(href="#" data-wow-duration="1s" data-wow-delay="0.5s"): span.follow
			i.fa.fa-instagram
			strong Follow us
		a.wow.fadeIn(href="#" data-wow-duration="1s" data-wow-delay="0.4s"): img(src="//placeimg.com/150/150/people" alt="")
		a.wow.fadeIn(href="#" data-wfadeInow-duration="1s" data-wow-delay="0.6s"): img(src="//placeimg.com/150/150/tech" alt="")