header.main-header.center
	.upper-bar
		p Business websites from £50 per month! <a href="#" class="underline">www.google.com</a>
		include socialmedia
	.header-proper
		a(href="#"): h1 Vilio Theme
		i.mobile-nav-toggle.fa.fa-bars
		nav
			ul
				li: a(href="#").active Home
				li
					a(href="#") Services <i class="fa fa-caret-down"></i>
					ul
						li: a(href="#") Web Development
						li: a(href="#") Online Marketing
						li: a(href="#") Branding
						li: a(href="#") Graphic Design
				li: a(href="#") About us
				li: a(href="#") Case studies
				li: a(href="#").btn.btn-outline-white.btn-hover-outline-primary Contact us
