ul.partners
	li: a(href="#"): img(src="assets/images/examples/ge.png" alt="GE imagination at work")
	li: a(href="#"): img(src="assets/images/examples/dove.png" alt="Dove")
	li: a(href="#"): img(src="assets/images/examples/monopoly.png" alt="Monopoly")
	li: a(href="#"): img(src="assets/images/examples/philips.png" alt="Philips")
	li: a(href="#"): img(src="assets/images/examples/dell.png" alt="Dell")