ul.partners
	li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.75s"): a(href="#"): img(src="assets/images/examples/ge.png" alt="GE imagination at work")
	li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.5s"): a(href="#"): img(src="assets/images/examples/dove.png" alt="Dove")
	li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.25s"): a(href="#"): img(src="assets/images/examples/monopoly.png" alt="Monopoly")
	li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.5s"): a(href="#"): img(src="assets/images/examples/philips.png" alt="Philips")
	li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.75s"): a(href="#"): img(src="assets/images/examples/dell.png" alt="Dell")