.service-content
	.service-intro.center
		article
			h2.heading.wow.fadeInUp(data-wow-duration="1s") Web Development

			p.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s"): span.big.
				We will help you develop your ideas into concepts and
				faciliate the process with dedicated account management
				to execution and beyond.

			p.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="1s").
				Our strength is combining creative force with executive ability.
				We provide new opportunities, implement innovative visions and facilitate business processes.
				We value the creation of long-term customer relations. Your success is our success.

			ul.tech-list
				li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.2s"): img(src="assets/images/examples/html.png" alt="HTML5")
				li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.4s"): img(src="assets/images/examples/css.png" alt="CSS3")
				li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.6s"): img(src="assets/images/examples/sass.png" alt="Sass")
				li.wow.zoomIn(data-wow-duration="1s" data-wow-delay="0.8s"): img(src="assets/images/examples/wp.png" alt="WordPress")

		.service-screens
			.browser-screen.wow.slideInRight(data-wow-duration="1s" style="background-image:url(assets/images/examples/screen2.jpg)")
			.mobile-screen.wow.slideInRight(data-wow-duration="1s" style="background-image:url(assets/images/examples/screen1.jpg)")
