.service-content
	.service-intro.center
		article
			h2.heading Web Development

			p: span.big.
				We will help you develop your ideas into concepts and
				faciliate the process with dedicated account management
				to execution and beyond.

			p.
				Our strength is combining creative force with executive ability.
				We provide new opportunities, implement innovative visions and facilitate business processes.
				We value the creation of long-term customer relations. Your success is our success.

			ul.tech-list
				li: img(src="assets/images/examples/html.png" alt="HTML5")
				li: img(src="assets/images/examples/css.png" alt="CSS3")
				li: img(src="assets/images/examples/sass.png" alt="Sass")
				li: img(src="assets/images/examples/wp.png" alt="WordPress")

		.service-screens
			.browser-screen(style="background-image:url(assets/images/examples/screen2.jpg)")
			.mobile-screen(style="background-image:url(assets/images/examples/screen1.jpg)")
