ul.socialmedia
	li: a(href="#"): i.fa.fa-facebook
	li: a(href="#"): i.fa.fa-twitter
	li: a(href="#"): i.fa.fa-instagram
	li: a(href="#"): i.fa.fa-linkedin
	li: a(href="#"): i.fa.fa-tumblr
	li: a(href="#"): i.fa.fa-pinterest-p