nav.tabs-btns
	ul
		li: a(href="#").btn-large.btn-fill.btn-hover-outline-primary Our process
		li: a(href="#").btn-large.btn-outline-grey.btn-hover-outline-primary Meet the team
		li: a(href="#").btn-large.btn-outline-grey.btn-hover-outline-primary Case studies