.twitter-panel.center
	i.fa.fa-twitter
	.twitter-post
		p.wow.fadeIn(data-wow-duration="1s").
			“RT: We're chatting about that <a href="#" class="underline">#WorkRemote</a>
			life for today's <a href="#" class="underline">#InboundHour</a>!
			Join us: <a href="#" class="underline">http://xyz.ly/y0_x-xst</a>
			<a href="#" class="underline">@DropboxBusiness</a>
		span.wow.fadeInUp(data-wow-duration="1s" data-wow-delay="0.5s") Posted by: @Vilio - Jun 11